.hidden {
    display: none;
}
.dropzone {
    width: 100%;
    height: 200px;
    border: 1px solid;
}
.dz-image-preview {
    text-align: center;
    margin: 0 auto;
    display: block;
}
.userData {
    width: 100%;
    margin-bottom: 10px;
}
@media (min-width: 768px){
    .navbar-header{
        float:none !important;
        margin: 0 auto !important;
        display: table !important;
        table-layout: fixed !important;
    }
}
